/* WeatherApp.css */
*{
    margin: 0;
}
.weather-app{
    text-align: center;
    height: 100vh;
    box-sizing: border-box;
    background-color: hsl(268, 29%, 91%);
}
.title{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.data{
    padding-top: 1rem;
}
.clear {
    /* background-color: #87CEEB;  */
    background-image: url(https://i.postimg.cc/NjppX3qz/ritam-baishya-ROVBDer29-PQ-unsplash.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .clouds {
    /* background-color: #778899;  */
    background-image: url(https://i.postimg.cc/W1CssfWQ/billy-huynh-v9bnf-MCy-Kbg-unsplash.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .rain {
    /* background-color: #4682B4;  */
    background-image: url(https://i.postimg.cc/2yhZxZq5/max-22x7fx-Fpl-8-unsplash.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .snow {
    /* background-color: #FFFFFF; */
    background-image: url(https://i.postimg.cc/ryfX8PzQ/cherry-laithang-tx-Nkm-YD7-Hsc-unsplash.jpg); 
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  